body{
    background-color: rgb(220, 248, 220);
}

.brand-title {
    font-family: "Fleur De Leah", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 34px;
    padding-top: unset;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 1vw;
    color:  rgb(25, 135, 84);
    justify-self: start;
}

.navbar {
    position: sticky;
    /* background-color: rgb(239, 217, 194); */
    background-color: rgb(40, 40, 40);
    padding-top: 0px;
    padding-bottom: 0px;
}

#searchForm {
    margin-left: auto;
}

@media(max-width: 576px){
    .searchbar{
        width: 100px;
    }
    #searchForm {
        margin-left: 0px;
    }
}

#menu{
    /* background-color: rgb(239, 217, 194); */
    background-color: rgb(40, 40, 40);
}

.searchbar {
    border: 1px solid rgb(25, 135, 84);
    background-color: rgb(40, 40, 40);
}

.searchbar:hover {
    border: 1px solid rgb(25, 135, 84);
    box-shadow: 0 0 0 0.2rem rgba(81, 172, 81, 0.25);
}

.searchbar:focus {
    border-color: rgb(25, 135, 84);
    background-color: rgb(40, 40, 40);
    box-shadow: 0 0 0 0.2rem rgba(81, 172, 81, 0.25);
}

.collapse-button{
    color: rgb(25, 135, 84);
    background-color: transparent;
    border: none;
}

.collapse-button:hover {
   color: rgb(255, 255, 255);
}

.collapse-button:active {
    color: rgb(255, 255, 255);
}

p, ul, li {
    font-family: "Carattere", cursive;
    font-size: xx-large;
}

h1, h2{
    display: flex;
    justify-content: center;
    font-family: "Fleur De Leah", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 34px;
    color:  rgb(25, 135, 84);
}

.bule-section {
    background-image: url(../images/bule.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 93dvh;
}

.section {
    display: flex;
    flex-direction: row;
    height: 93dvh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-col {
    flex: 0 0 auto;
    width: 40%;
}

.text-section-col {
    flex: 0 0 auto;
    width: 55%;
    padding: 2rem 2rem 2rem;
    scrollbar-width: none;
}

@media (max-width: 1199px) {
    .bule-section {
        background-image: url(../images/bule.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 30%;
        width: auto;
    }
    
    .section {
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .section-col {
        flex: none;
        width: none;
    }
    
    .text-section-col {
        flex: 0 0 auto;
        width: auto;
        max-height: 70%;
        padding: 2rem 2rem 2rem;
    }
}

.parallax-section {
    display: flex;
    flex-flow: row nowrap;
    width: max-content;
}

.parallax-text {
    display: inline;
    flex: 0 0 auto;
    width: 45%;
}

.parallax {
    max-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overscroll-behavior: none;
}

.parallax-1 {
    background-image: url(../images/infusao.jpg);
    width: 50%;
    background-position: left;
    background-size: 60%;
}

.parallax-2 {
    background-image: url(../images/cha-verde.webp);
    width: 50%;
    background-position: left;
    background-size: 70%;
}